body {
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
/* Intro */
.intro {
  background: #9a9a9a;
  position: relative;
  overflow: hidden;
}
.intro:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.intro .video_intro {
  width: 100%;
  height: auto;
  position: absolute;
  top: -200px;
  left: 0;
}
.intro .video_media {
  position: relative;
  padding-bottom: 52.56%;
}
.intro .intro_inner {
  display: flex;
  padding: 10rem 0;
  position: relative;
  z-index: 3;
}
.intro .intro_inner .intro_title {
  padding: 2rem 0;
  color: #ffffff;
  font-size: 2.3rem;
}
.intro .intro_inner .intro_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.intro .intro_inner .intro_text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding-right: 14rem;
}
.intro .intro_inner .intro_form {
  max-width: 380px;
  width: 100%;
  height: 370px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
}
.intro .intro_inner .intro_form .form_text {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background: #F5F5F5;
  text-align: center;
  padding: .8rem 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.intro .intro_inner .intro_form .form_text span {
  color: #ff8b38;
}
.intro .intro_inner .intro_form form {
  text-align: center;
}
.intro .intro_inner .intro_form form .inner_form {
  width: 300px;
  margin: 0 auto;
}
.intro .intro_inner .intro_form form .inner_form .intro_input {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  text-indent: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.intro .intro_inner .intro_form form .inner_form .intro_input:focus {
  outline: none;
  color: #333333;
}
.intro .intro_inner .intro_form form .intro_button_input {
  padding: 0;
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  padding: 1.05rem 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #ffffff;
  background-color: #FF9B51;
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro header {
  background: #333333;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.intro header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro header .header_inner nav .nav_link {
  color: #ffffff;
  opacity: .69;
  font-family: 'Open Sans', sans-serif;
  margin-left: 2.9rem;
  text-decoration: none;
  transition: opacity .3s linear;
}
.intro header .header_inner nav .nav_link:hover {
  opacity: 1;
}
.intro header .header_inner nav .nav_link:first-child {
  margin-left: 0;
}
.button {
  margin-top: 3.4rem;
}
.button .button_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: 2px solid #E6E6E6;
  padding: .7rem 2rem;
  transition: color .3s linear, background .3s linear;
}
.button .button_link:hover {
  background-color: #E6E6E6;
  color: #9a9a9a;
}
/* Nav-Toggle*/
.nav_toggle {
  display: none;
}
.nav_toggle_item {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 5;
  transition: all .3s linear 0s;
}
.nav_toggle_item:after,
.nav_toggle_item:before {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  transition: all .3s linear 0s;
}
.nav_toggle_item:after {
  top: 8px;
}
.nav_toggle_item:before {
  top: -8px;
}
.nav_toggle_item.active {
  background: transparent;
}
.nav_toggle_item.active:after {
  transform: rotate(45deg);
  top: 0;
}
.nav_toggle_item.active:before {
  transform: rotate(-45deg);
  top: 0;
}
/* Social */
.social {
  padding: 1.2rem 0;
  border-bottom: 1px solid #b7b7b7;
}
.social_inner {
  display: flex;
  justify-content: space-between;
}
.social_title {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.2rem;
}
.social_text {
  font-family: 'Open Sans', sans-serif;
  color: #86878B;
}
.social_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
}
.social_item {
  padding: 5px;
}
.social_item .social_icon {
  width: 45px;
  height: 45px;
  fill: #cccccc;
  transition: fill .3s linear;
}
.social_item:hover .social_icon {
  fill: #ff8b38;
}
/* Description */
.description {
  padding: 9rem 0;
  background: #F5F5F5;
}
.description_inner {
  display: flex;
  flex: wrap;
}
.description_tabs {
  margin-right: 6.25rem;
}
.tabs_item {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  width: 7.18rem;
  padding: 3rem 2.25rem;
  background-color: #333333;
  border: 1px solid #C7C7C7;
  transition: background .3s linear;
}
.tabs_item:hover {
  background-color: #ff8b38;
}
.tabs_item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.tabs_item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.description_content {
  margin-right: 6.25rem;
  display: none;
}
.description_content.active {
  display: block;
}
.description_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
.description_text {
  margin: 2.93rem 0 4rem;
  color: #86878B;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.description_text p:first-child {
  margin-bottom: 1.68rem;
}
.description_button {
  color: #ffffff;
  text-decoration: none;
  padding: .9rem 1.31rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #ff8b38;
  border-radius: 5px;
  transition: background .3s linear, color .3s linear;
}
.description_button:hover {
  background-color: #333333;
  color: #ff8b38;
}
/* Sublist */
.sublist {
  padding: 7rem 0;
}
.sublist_inner {
  display: flex;
}
.picture_section {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  margin-right: 12.06rem;
  height: 300px;
}
.sublist_content {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
.sublist_title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333333;
}
.sublist_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #ff8b38;
  margin: 1.5rem 0;
}
.sublist_text {
  color: #86878B;
  margin-bottom: 2.65rem;
}
.sublist_text p:first-child {
  margin-bottom: 1.68rem;
}
.sublist_item {
  position: relative;
  margin-bottom: 2.18rem;
}
.sublist_icon {
  width: 40px;
  height: 40px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.sublist_cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sublist_item_content {
  margin-left: 4.375rem;
}
.sublist_item_title {
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.sublist_item_text {
  color: #86878B;
}
/* Standart */
.standart {
  padding: 7rem 0;
  background-color: #F5F5F5;
}
.picture_section.standart_picture {
  margin-left: 12.06rem;
  margin-right: 0;
}
/* Team */
.team {
  padding: 6.25rem 0;
}
.header_united {
  text-align: center;
}
.title_united {
  font-size: 2.2rem;
  font-weight: 400;
}
.title_united:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #ff8b38;
  margin: 1.4rem auto;
}
.subtitle_united {
  font-family: 'Open Sans', sans-serif;
  color: #86878b;
}
.team_inner {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team_item {
  width: 32%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.team_icon {
  width: 70px;
  height: 70px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.icon_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team_item_title {
  margin: 1.625rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.team_item_text {
  color: #86878B;
  line-height: 1.4;
}
/* Options */
.options {
  padding: 7rem 0;
  background-color: #F5F5F5;
}
.options_inner {
  margin-top: 7.125rem;
  display: flex;
  justify-content: space-between;
}
.options_item {
  text-align: center;
  width: 30%;
  background-color: #ffffff;
  color: #707070;
  font-family: 'Open Sans', sans-serif;
}
.options_item_header {
  background-color: #333333;
}
.options_row {
  padding: 0.8rem 0;
  border-bottom: 1px solid #F5F5F5;
}
.options_row:last-child {
  border: none;
}
.options_row.options_name {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
}
.options_row.options_price {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  border-bottom: none;
}
.options_row.options_price span {
  font-size: 3rem;
}
.options_row.options_description {
  padding-bottom: 0;
}
.options_row.options_description:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ff8b38;
  margin-top: 1.2rem;
}
/* Reviews */
.reviews {
  padding: 6.25rem 0;
}
.reviews_inner {
  margin-top: 6.25rem;
  display: flex;
  justify-content: space-between;
}
.reviews_image {
  width: 100%;
}
.reviews_item {
  width: 26%;
  font-family: 'Open Sans', sans-serif;
}
.reviews_content {
  position: relative;
}
.reviews_text {
  width: 90%;
  position: absolute;
  top: 1rem;
  left: 0.68rem;
  color: #86878B;
}
.reviews_author {
  position: relative;
}
.reviews_photo {
  position: absolute;
  top: 0;
  left: .2rem;
  width: 70px;
  height: 70px;
  background-color: #707070;
  border-radius: 50%;
}
.reviews_author_info {
  position: absolute;
  top: 0.5rem;
  left: 5.6rem;
}
.reviews_author_name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333333;
}
.reviews_author_profession {
  margin-top: .1rem;
  color: #86878B;
}
/* Design */
.design {
  margin-top: 4rem;
  padding: 4.125rem 0;
  background-color: #9A9A9A;
}
.design .title_united {
  color: #ffffff;
}
.design .title_united:after {
  background-color: #ffffff;
}
.design .subtitle_united {
  color: #EBEBEB;
}
/* Contacts */
.contacts {
  margin: 6.25rem 0;
}
.contacts_form_inner {
  display: flex;
  justify-content: space-between;
  margin: 4.81rem 0 2.5rem 0;
}
.contacts_input_inner {
  width: 45%;
}
.contacts_input {
  display: block;
  margin-bottom: 2.5rem;
  width: 100%;
  height: 2.18rem;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  text-indent: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: border .3s linear;
}
.contacts_input:last-child {
  margin: 0;
}
.contacts_input:focus {
  outline: none;
  color: #333333;
}
.contacts_input:hover {
  border-color: #ff8b38;
}
.contacts_textarea {
  width: 45%;
  height: 100%;
  padding-top: .7rem;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  text-indent: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: border .3s linear;
  resize: none;
}
.contacts_textarea:focus {
  outline: none;
  color: #333333;
}
.contacts_textarea:hover {
  border-color: #ff8b38;
}
.contact_button {
  background: #ff8b38;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  color: #ffffff;
  padding: 1rem 1.4rem;
  border-radius: 5px;
  transition: background .3s linear, color .3s linear;
}
.contact_button:hover {
  background: #333333;
  color: #ff8b38;
}
/* Footer */
footer {
  padding: 1rem 0;
  background: black;
}
.social_items.social_footer {
  width: 50%;
  margin: 0 auto;
}
.social_items.social_footer .social_item .social_icon {
  fill: #cccccc;
}
.social_items.social_footer .social_item .social_icon:hover {
  fill: #ff8b38;
}
.footer_text {
  text-align: center;
  color: #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  margin-top: .5rem;
}
/* Media */
@media (max-width: 1200px) {
  /* Header */
  .header_inner {
    margin: 0 2rem;
  }
  /* Intro */
  .intro .intro_inner {
    margin: 0 3rem;
    padding: 9rem 0 6rem 0;
  }
  .intro .intro_inner .intro_form {
    max-width: 250px;
    height: 250px;
    margin-top: 3rem;
  }
  .intro .intro_inner .intro_form .form_text {
    font-size: 1rem;
  }
  .intro .intro_inner .intro_form form .inner_form {
    width: 250px;
  }
  .intro .intro_inner .intro_form form .inner_form .intro_input {
    margin-top: 1.3rem;
    height: 1.5rem;
    width: 80%;
  }
  .intro .intro_inner .intro_form form .intro_button_input {
    font-size: .8rem;
    padding: .8rem 0;
  }
  .intro .intro_inner .intro_text {
    padding-right: 10rem;
  }
  /* Social */
  .social_inner {
    margin: 0 2rem;
  }
  /* Description */
  .description {
    padding: 5rem 0 4rem;
  }
  .description_inner {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .description_tabs {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .description_text {
    text-align: center;
    padding: 0 2rem;
    margin: 1.5rem 0 4rem;
  }
  .description_text p:first-child {
    margin-bottom: 0rem;
  }
  .description_content {
    margin-right: 0;
    margin-bottom: 4rem;
  }
  /* Sublist */
  .sublist {
    padding: 5rem 0;
  }
  .sublist_inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .picture_section {
    margin: 0;
    height: 250px;
  }
  .picture_section.standart_picture {
    margin: 0;
  }
  .sublist_content {
    margin-top: 3.5rem;
    padding: 0 2rem;
    width: 70%;
  }
  .sublist_item:last-child {
    margin-bottom: 0;
  }
  /* Standart */
  .standart {
    padding: 5rem 0;
  }
  .standart .sublist_content {
    margin-top: 0;
  }
  /* Team */
  .team {
    padding: 4rem 2rem;
  }
  /* Options */
  .options {
    padding: 4rem 0;
  }
  .options_inner {
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 4rem;
    width: 50%;
  }
  .options_item {
    width: 100%;
    margin-top: 3rem;
  }
  .options_item:first-child {
    margin-top: 0;
  }
  /* Reviews */
  .reviews {
    padding: 4rem 0;
  }
  .reviews_inner {
    margin: 0 auto;
    margin-top: 4rem;
    flex-wrap: wrap;
    width: 40%;
  }
  .reviews_item {
    width: 100%;
    margin-top: 7rem;
  }
  .reviews_item:first-child {
    margin-top: 0;
  }
  /* Contacts */
  .contacts {
    margin: 4rem 0;
  }
  .contacts_form_inner {
    margin: 4rem 2rem 2.5rem 2rem;
  }
}
@media (max-width: 900px) {
  /* Body */
  body {
    font-size: 12px;
  }
  /* Header */
  .logo {
    width: 50px;
  }
  /* Intro */
  .intro .intro_inner {
    padding: 7rem 0 5rem 0;
  }
  .intro_logo {
    width: 120px;
  }
  .intro .intro_inner .intro_title {
    font-size: 1.7rem;
  }
  .intro .intro_inner .intro_text {
    font-size: .8rem;
  }
  .button .button_link {
    font-size: .8rem;
    padding: .5rem 1rem;
  }
  /* Social */
  .social_inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .social_title {
    text-align: center;
  }
  .social_text {
    text-align: center;
  }
  .social_items {
    margin: 0;
    margin-top: 1.5rem;
  }
  /* Team */
  .team_inner {
    justify-content: center;
    margin-top: 2rem;
  }
  .team_item {
    width: 60%;
    margin-top: 2rem;
  }
  /* Options */
  .options_inner {
    width: 80%;
  }
  .options_row.options_price span {
    font-size: 2rem;
  }
}
@media (max-width: 750px) {
  /* Nav */
  nav {
    display: none;
  }
  .nav_toggle {
    display: block;
  }
  nav.active {
    display: flex;
    flex-direction: column;
    background: #333333;
    position: fixed;
    top: 7.5%;
    left: 0;
    right: 0;
    text-align: center;
  }
  .intro header {
    padding: 1.6rem 0;
  }
  .intro header .header_inner nav .nav_link {
    margin-left: 0;
    padding: 2rem 0;
    border-bottom: 2px #ff8b38 solid;
    font-size: 1.5rem;
  }
  /* Intro */
  .intro .intro_inner {
    flex-wrap: wrap;
    padding: 3.5rem 0 4rem 0;
  }
  .intro .intro_inner .intro_title {
    padding: 1.5rem 0;
    font-size: 2rem;
    text-align: center;
  }
  .intro .intro_inner .intro_title:after {
    margin: 0 auto;
    margin-top: 1.5rem;
  }
  .intro .intro_inner .intro_text {
    text-align: center;
    padding: 0 3rem;
  }
  .button {
    text-align: center;
    margin-top: 2rem;
  }
  .intro .intro_inner .intro_form {
    max-width: 100%;
    width: 60%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .intro .intro_inner .intro_form form .inner_form {
    width: 100%;
  }
  .intro .intro_inner .intro_form form .inner_form .intro_input {
    width: 70%;
  }
  .intro_logo {
    display: none;
  }
  /* Social */
  .picture_section {
    height: 200px;
  }
  .sublist_content {
    padding: 0 1rem;
    width: 80%;
  }
  .social_item .social_icon {
    width: 30px;
    height: 30px;
  }
  /* Team */
  .title_united {
    font-size: 1.8rem;
  }
  /* Reviews */
  .reviews {
    padding: 4rem 0;
  }
  .reviews_inner {
    margin: 0 auto;
    margin-top: 4rem;
    flex-wrap: wrap;
    width: 60%;
  }
}
@media (max-width: 600px) {
  /* Body */
  body {
    font-size: 10px;
  }
  /* Design */
  .design .subtitle_united {
    padding: 0 2rem;
  }
  /* Footer */
  .social_items.social_footer {
    width: 100%;
    padding: 0 1rem;
  }
}
@media (max-width: 550px) {
  /* Intro */
  .intro .intro_inner {
    margin: .8rem 0;
  }
  .intro .intro_inner .intro_title {
    font-size: 1.5rem;
  }
  .intro .intro_inner .intro_text {
    font-size: .6rem;
  }
  /* Socials */
  .social_inner {
    margin: 0 .5rem;
  }
  /* Sublist */
  .sublist {
    padding: 4rem 0;
  }
  /* Standart */
  .standart {
    padding: 4rem 0;
  }
  /* Team */
  .team_item {
    width: 90%;
    margin-top: 2rem;
  }
  /* Contacts */
  .contacts_form_inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .contacts_input_inner {
    width: 80%;
  }
  .contacts_textarea {
    margin-top: 3rem;
    width: 100%;
  }
}
