body {
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
/* Intro */
.intro {
  background: #9a9a9a;
  position: relative;
  overflow: hidden;
}
.intro:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.intro .video_intro {
  width: 100%;
  height: auto;
  position: absolute;
  top: -200px;
  left: 0;
}
.intro .video_media {
  position: relative;
  padding-bottom: 52.56%;
}
.intro .intro_inner {
  display: flex;
  padding: 10rem 0;
  position: relative;
  z-index: 3;
}
.intro .intro_inner .intro_title {
  padding: 2rem 0;
  color: #ffffff;
  font-size: 2.3rem;
}
.intro .intro_inner .intro_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.intro .intro_inner .intro_text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  padding-right: 14rem;
}
.intro .intro_inner .button {
  margin-top: 3.4rem;
}
.intro .intro_inner .button .button_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: 2px solid #E6E6E6;
  padding: .7rem 2rem;
  transition: color .3s linear, background .3s linear;
}
.intro .intro_inner .button .button_link:hover {
  background-color: #E6E6E6;
  color: #9a9a9a;
}
.intro .intro_inner .intro_form {
  max-width: 380px;
  width: 100%;
  height: 370px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
}
.intro .intro_inner .intro_form .form_text {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background: #F5F5F5;
  text-align: center;
  padding: .8rem 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.intro .intro_inner .intro_form .form_text span {
  color: #ff8b38;
}
.intro .intro_inner .intro_form form {
  text-align: center;
}
.intro .intro_inner .intro_form form .inner_form {
  width: 300px;
  margin: 0 auto;
}
.intro .intro_inner .intro_form form .inner_form .intro_input {
  width: 100%;
  height: 2.3rem;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  text-indent: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.intro .intro_inner .intro_form form .inner_form .intro_input:focus {
  outline: none;
}
.intro .intro_inner .intro_form form .intro_button_input {
  padding: 0;
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  padding: 1.05rem 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #ffffff;
  background-color: #FF9B51;
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro header {
  background: #333333;
  padding: 1.6rem 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.intro header .header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro header .header_inner nav .nav_link {
  color: #ffffff;
  opacity: .69;
  font-family: 'Open Sans', sans-serif;
  margin-left: 2.9rem;
  text-decoration: none;
  transition: opacity .3s linear;
}
.intro header .header_inner nav .nav_link:hover {
  opacity: 1;
}
.intro header .header_inner nav .nav_link:first-child {
  margin-left: 0;
}
/* Social */
.social {
  margin: 1.2rem 0;
}
.social_inner {
  display: flex;
}
.social_title {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.2rem;
}
.social_text {
  font-family: 'Open Sans', sans-serif;
  color: #86878B;
}
.social_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
}
.social_item {
  padding: 5px;
}
.social_item .social_icon {
  width: 30px;
  height: 30px;
  fill: #333333;
  transition: fill .3s linear;
}
.social_item:hover .social_icon {
  fill: #ff8b38;
}
/* Description */
.description {
  padding: 9rem 0;
  background: #F5F5F5;
}
.description_inner {
  display: flex;
  flex: wrap;
}
.description_tabs {
  margin-right: 6.25rem;
}
.tabs_item {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  width: 7.18rem;
  padding: 3rem 2.25rem;
  background-color: #333333;
  border: 1px solid #C7C7C7;
  transition: background .3s linear;
}
.tabs_item:hover {
  background-color: #ff8b38;
}
.tabs_item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.tabs_item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.description_content {
  margin-right: 6.25rem;
}
.description_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
.description_text {
  margin: 2.93rem 0 4rem;
  color: #86878B;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.description_text p:first-child {
  margin-bottom: 1.68rem;
}
.description_button {
  color: #ffffff;
  text-decoration: none;
  padding: .9rem 1.31rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #ff8b38;
  border-radius: 5px;
  transition: background .3s linear, color .3s linear;
}
.description_button:hover {
  background-color: #333333;
  color: #ff8b38;
}
/* Sublist */
.sublist {
  padding: 7rem 0;
}
.sublist_inner {
  display: flex;
}
.picture_section {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  margin-right: 12.06rem;
  height: 300px;
}
.sublist_content {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
.sublist_title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333333;
}
.sublist_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #ff8b38;
  margin: 1.5rem 0;
}
.sublist_text {
  color: #86878B;
  margin-bottom: 2.65rem;
}
.sublist_text p:first-child {
  margin-bottom: 1.68rem;
}
.sublist_item {
  position: relative;
  margin-bottom: 2.18rem;
}
.sublist_icon {
  width: 40px;
  height: 40px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.sublist_item_content {
  margin-left: 4.375rem;
}
.sublist_item_title {
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.sublist_item_text {
  color: #86878B;
}
/* Standart */
.standart {
  padding: 7rem 0;
  background-color: #F5F5F5;
}
.picture_section.standart_picture {
  margin-left: 12.06rem;
  margin-right: 0;
}
